.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.img-sizer {
  width:120px;
  height:auto;

}
.panel-display {
  margin-top:20px;
  height:100px;
  width:120px;
}

#banner h1 {
    font-size: 24pt;
    line-height: .5;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 10px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    height:25%;
}


.footer {
 position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
}

.navbar-text {
    margin-left: 15px;
}

body {
    background: #000;
    color:black;
}

#demo {
  width: 682px;
  height: 60px; 
  background-color: #333;
  padding: 0px;
}

#pan {
position:relative;
  width: auto;
  height: auto;

}

#jam {
  position:relative; 
}

#pan1 {
position:relative;  
  width: auto;
  height: auto;
  opacity:0;
}

#pan2 {
position:relative;  
  width: auto;
  height: auto;
  opacity:0;
}

#pan3 {
position:relative;  
  width: auto;
  height: auto;
  opacity:0;

}

#pan4 {
position:relative;  
  width: auto;
  height: auto;
  opacity:0;
}


#pan5 {
position:relative;  
  width: auto;
  height: auto;
  opacity:0;
}

