.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.img-sizer {
  width:120px;
  height:120px;
}

.panel-display {
  background-color:black !important;
  padding-top:20px;
  border-width: 20px;
  border-radius: 10px;
  border-color:black !important;
  position:relative;  
  width: 150px;
  height: 140px;
  opacity:0;

}

#banner h1 {
    font-size: 24pt;
    line-height: .5;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 10px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    height:39%;
}



.navbar-text {
    margin-left: 15px;
}


