<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a fin!</h3>
        </div>
        <div class="modal-body">

        <img ng-src={{currentPicture}} width="auto" height="300px"></img>
  <form class="thing-form">
  
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add an image url" ng-model="currentPicture">
      <input type="text" class="form-control" placeholder="Add an a Fintastic comment" ng-model="comment">
    </p>
  </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addItem(currentPicture,comment)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <div class="container">

<div class="row">

    <div id="pan" class="col-lg-3">
        <div class="panel panel-default" style="width:100%" >
          <div class="panel-body">
          <img ng-src={{awesomeThings[0].imgUrl}}></img>
          <div class = "title"> {{awesomeThings[0].name}}</div>
          <div style="display:inline-block">
            <span class="glyphicon glyphicon-remove-sign"></span>
            <span class="glyphicon glyphicon-heart" ng-click="like(awesomeThings[0])"></span>{{awesomeThings[0].likes}}

            <span class="glyphicon glyphicon-refresh">0</span>

          </div>
        </div>
</div>
</div>

    <div id="pan2" class="col-md-3">
        <div class="panel panel-default" style="width:100%" >
          <div class="panel-body">
          <img ng-src={{awesomeThings[1].imgUrl}}></img>
          <div class = "title"> {{awesomeThings[1].name}}</div>
          <div style="display:inline-block">
            <span class="glyphicon glyphicon-remove-sign"></span>
            <span class="glyphicon glyphicon-heart" ng-click="like(awesomeThings[1])"></span>{{awesomeThings[1].likes}}

            <span class="glyphicon glyphicon-refresh">0</span>

          </div>
        </div>
</div>
</div>
    </div>
  </div>

<br>

<button type="button" class="btn btn-default" onClick="move()">Run</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Add Fin!</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{animationsEnabled }})</button>



<div masonry="{'isInitLayout':false,'gutter':10,'margin-bottom':'10px'}" load-images="true">
  <div class="masonry-brick panel grid-item" ng-repeat="thing in awesomeThings">
          <div class="panel-body">
            <img width="200px" height="auto" ng-src={{thing.imgUrl}}></img>
         
        </div>
        <div class="panel-footer">
           {{thing.name}}<br>
           {{thing.created | date : format : short}}<br>
           {{thing.owner}}<br>
            <span class="glyphicon glyphicon-remove-sign"></span>
            <span class="glyphicon glyphicon-heart" ng-click="like(thing)"></span>{{thing.likes}}

            <span class="glyphicon glyphicon-refresh">0</span>
          </div></div>
        
    </div>
  </div>



<div id="container">

      <div class="grid-item" >
        <img ng-src={{awesomeThings[0].imgUrl}}></img>
                <img ng-src={{awesomeThings[0].imgUrl}}></img>
        <img ng-src={{awesomeThings[0].imgUrl}}></img>
                <img ng-src={{awesomeThings[0].imgUrl}}></img>
        <img ng-src={{awesomeThings[0].imgUrl}}></img>
                <img ng-src={{awesomeThings[0].imgUrl}}></img>

                <img src="http://lorempixum.com/200/150/food/5">
        <img src="http://lorempixum.com/200/150/food/5">
                <img src="http://lorempixum.com/200/150/food/5">
        <img src="http://lorempixum.com/200/150/food/5">
                <img src="http://lorempixum.com/200/150/food/5">
        <img src="http://lorempixum.com/200/150/food/5">
                <img src="http://lorempixum.com/200/150/food/5">
        <img src="http://lorempixum.com/200/150/food/5">
                <img src="http://lorempixum.com/200/150/food/5">
        <img src="http://lorempixum.com/200/150/food/5">
                <img src="http://lorempixum.com/200/150/food/5">

        </div>
  
</div>
<footer class="footer">
  <div class="container">
      <p>Another product of 
        <a href="https://twitter.com/adkinley">@adkinley</a> 
         </p>
  </div>
</footer>

<script>

</script>